  <ion-header-bar class="bar bar-header bar-positive">
   <h1 class="title">Login</h1>
 </ion-header-bar>
  <ion-content>
    <div class="card">

      <label class="item item-input">
        <input placeholder="Usuário" type="text">
      </label>
      <label class="item item-input">
        <input placeholder="Senha" type="password">
      </label>
      <button class="button button-block button-calm" ng-click="login()">
        Login
      </button>
      <p class="text-center">
        <a href="#/forgot-password">Esqueceu a senha?</a>
      </p>
    </div>
  </ion-content>
