<ion-view view-title="Novo Paciente">
  <ion-content>
    <form name="vm.form">
      <div class="list">
        <div class="item item-divider">
          Dados do Proprietário
        </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nome</span>
          <input type="text" name="name" placeholder="João dos santos" ng-model="vm.user.name" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" name="email" placeholder="joao@gmail.com" ng-model="vm.user.email" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">CPF</span>
          <input type="text" name="cpf" placeholder="xxx.xxx.xxx-xx" ng-model="vm.user.cpf" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Endereço</span>
          <input type="text" name="address" placeholder="Rua antonio da silva 24" ng-model="vm.user.address" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Telefone</span>
          <input type="text" name="telephone" placeholder="(11)9819-0424" ng-model="vm.user.telephone" required>
        </label>
      </div>
      <button ng-hide="vm.user.id != null" type="submit" class="button button-full button-calm" ng-click="vm.add(vm.user)">
        <i class="icon-left ion-plus-circled"></i>
        Adicionar</button>
    </form>
  </ion-content>
</ion-view>
