 <ion-view view-title="Paciente {{patient.name}}">
  <ion-content>

   <div class="list card">
      <div class="item item-avatar">
        <img src="/img/ionic.png">
        <h2>{{patient.data.pet.name}}</h2>
        <h3>Raça: {{patient.data.pet.breed}}</h3>
        <h3>Dono: {{patient.data.name}}</h3>
        <p>Última consulta: {{patient.data.pet.lastAppointment | date:'dd/MM/yyyy'}}</p>
      </div>

      <div class="item item-body" style="height:25vh; overflow:hidden;">
        <ion-nav-view name="patientContent" style="background-color:white"></ion-nav-view>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-class="{active: patient.state.current.name === 'app.patient.detail'}">
          <i class="icon ion-clipboard"></i>
          Dados
        </a>
        <a class="tab-item" ng-class="{active: patient.state.current.name === 'app.patient.records'}">
          <i class="icon ion-ios-paper-outline"></i>
          Prontuário
        </a>
        <!-- <a class="tab-item">
          <i class="icon ion-trash-a"></i>
          Remover
        </a> -->
      </div>
    </div>

   </ion-content>
</ion-view>
