<ion-view view-title="Caracteristicas">
  <ion-content>
    <div class="item item-divider" style="text-align:right">
      <a class="button button-small button-calm" href="#">Editar</a>
    </div>
    <div class="item">
      <label>Nome:
      </label>
      {{vm.patient.pet.name}}
    </div>
    <div class="item">
      <label>Raça:
      </label>
      {{vm.patient.pet.breed}}
    </div>
    <div class="item">
      <label>Peso:
      </label>
      {{vm.patient.pet.weight}}
      g
    </div>
    <div class="item">
      <label>Idade:
      </label>
      {{vm.patient.pet.age}}
      anos
    </div>
  </ion-content>
</ion-view>
