<ion-view view-title="Paciente {{patient.name}}">
  <ion-content>
    <div class="list">
      <div class="item item-divider item-avatar">
        <img ng-src="{{patient.data.pet.img}}">
        <h2>{{patient.data.pet.name}}</h2>
        <h3>Dono:
          {{patient.data.name}}</h3>
        <p>Última consulta: {{patient.data.pet.lastAppointment | date:'dd/MM/yyyy'}}</p>
      </div>
      <a class="item item-icon-left item-icon-right" href="#/app/patient/{{patient.data.pet.id}}/detail">
        <i class="icon ion-clipboard"></i> Caracteristicas
        <i class="icon ion-arrow-right-c"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/app/patient/{{patient.data.pet.id}}/records">
        <i class="icon ion-ios-paper-outline"></i> Prontuário
        <i class="icon ion-arrow-right-c"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#/app/patient/{{patient.data.pet.id}}/photos">
        <i class="icon ion-image"></i> Fotos
        <i class="icon ion-arrow-right-c"></i>
      </a>

      <!-- <ion-nav-view name="patientContent" style="background-color:white"></ion-nav-view> -->

      <!-- <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-href="#/app/patient/{{patient.data.id}}/detail" ng-class="{active: patient.state.current.name === 'app.patient.detail'}">
          <i class="icon ion-clipboard"></i>
          Dados
        </a>
        <a class="tab-item" ng-href="#/app/patient/{{patient.data.id}}/records" ng-class="{active: patient.state.current.name === 'app.patient.recordList'}">
          <i class="icon ion-ios-paper-outline"></i>
          Prontuário
        </a> -->
      <!-- <a class="tab-item">
          <i class="icon ion-trash-a"></i>
          Remover
        </a> -->
      <!-- </div> -->
      <!-- </div> -->

  </ion-content>
</ion-view>
